<div class="row belts">
	<div class="span4 white-belt">
		<h2>White Belt</h2>
		<p>Still new to the whole computer thing? You're going to want to
		start here. </p>
		<p>
			<a class='btn'>
				OK! &raquo;
			</a>
		</p>
	</div>

	<div class="span4 yellow-belt">
		<h2>Yellow Belt</h2>
		<p>Still new to the whole computer thing?</p>
		<p>
			<a class='btn'>
				OK! &raquo;
			</a>
		</p>
	</div>

	<div class="span4 green-belt">
		<h2>Green Belt</h2>
		<p>Still new to the whole computer thing?</p>
		<p>
			<a class='btn'>
				OK! &raquo;
			</a>
		</p>
	</div>
</div>

<div class="row belts">
	<div class="span4 orange-belt">
		<h2>Orange Belt</h2>
		<p>Still new to the whole computer thing?</p>
		<p>
			<a class='btn'>
				OK! &raquo;
			</a>
		</p>
	</div>
	<div class="span4 purple-belt">
		<h2>Purple Belt</h2>
		<p>Still new to the whole computer thing?</p>
		<p>
			<a class='btn'>
				OK! &raquo;
			</a>
		</p>
	</div>
	<div class="span4 black-belt">
		<h2>Black Belt</h2>
		<p>Hello, fellow master. Still think you're up for a challenge?</p>
		<p>
			<a class='btn'>
				Bring it! &raquo;
			</a>
		</p>
	</div>
</div>
