---
layout: default
---
		<div class="container">
			<div class="hero-unit">
				<h1>hac·tiv·i·ty</h1>
				<i class='phonemic'>/hakˈtivitē/</i><br />
				<i>noun</i>
				<ol class='definition'>
					<li><p>The unstructured act of understanding structure.</p></li>
					<li><p>The condition in which things are being hacked.</p></li>
				</ol>
				<!--<img src="/static/img/tutorial.png" />-->
				<p><a class="btn btn-primary btn-large" id="learn">Learn more &raquo;</a></p>
			</div>
		</div>


		<div class="container">
			{% include belts.html %}
		</div>
		<hr />
<h3><a href="{{ page.url }}">{{ page.title }}</a></h3>

<div class="content container-white">
	{{ content }}
</div>
<div class="container-white archive">
	<div class="row">
		<div class='span6'>
			<h3>Latest Posts</h3>
			<ul>
				{% for post in site.posts %}
					<li>
						<tt>{{ post.date | date_to_string }} ({{ post.date }})</tt><br />
						<a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class='span6'>
			<h3>Resources</h3>
			<ul>
				<a href="#"></a>
			</ul>
		</div>
	</div>
</div>

